@using BookStoreWebsite.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}


<div id="main">
    <div id="content">
        <div class="box">
            <div class="head">

                <h2>TẤT CẢ SÁCH ĐANG CÓ</h2>
                <p class="text-right"><a href="#">See all</a></p>
            </div>


            @foreach (var book in Model)
            {
                <div class="movie book-list">
                    <div class="movie-image">
                        <a href="@Url.Action("ProductDetails", "Home", new { id = book.Masach })">
                            <img src="~/Content/image/@book.Anhbia" alt="@book.Tensach" />
                        </a>
                    </div>
                    <div class="details">
                        <p style="font-size:larger"><strong> @book.Tensach</strong></p>
                        <p><strong>Giá:</strong> @book.Giaban.ToString()</p>
                    </div>
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in"> </div>
                        </div>
                        <span class="comments">12</span> <!-- Chỗ này có thể thay bằng comment thực tế nếu có -->
                    </div>
                </div>
            }
        </div>

        <div class="cl">&nbsp;</div>
    </div>
</div>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang" style="margin-left: 300px">
    @Html.PagedListPager(Model,page => Url.Action("Index", new {page = page}))
</div>
<style>
        .MenuTrang li{
            display: inline;
            padding: 10px;
            background-color: aliceblue;
            font-size: large;
            font-weight: bold;
            justify-content: center;
            border-left: solid;
            border-color: black;
        }
</style>